/* App.css */

/* General Page Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #b1c8e9; /* Light grey background */
}

h1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Container for the User Management Page */
.d-flex {
  display: flex;
}

.vh-100 {
  height: 90vh;
}

.bg-primary {
  background: linear-gradient(135deg, #abddc4, #5c7ebf); /* Gradient colors */
  position: absolute; /* Allows for precise control of size and position */
  left: 5%; /* Adjust the distance from the left */
  right: 5%; /* Adjust the distance from the right */

  border-radius: 15px; /* Optional: Add rounded corners */
  z-index: -1; /* Ensure it doesn't overlap other elements*/
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/* Inner White Box */
.bg-white {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.rounded {
  border-radius: 8px;
}

.p-3 {
  padding: 20px;
}

.w-50 {
  width: 50%;
  max-width: 600px;
}

/* Table Styling */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  text-align: left;
  padding: 10px;
}

.table th {
  background-color: #f0f8ff;
  color: #ffffff;
  font-weight: bold;
}

.table td {
  background-color: #f9f9f9;
}

.table tr:nth-child(even) td {
  background-color: #fffcfcf1;
}

.table tr:hover td {
  background-color: #f0f8ff; /* Light blue hover effect */
}

/* Button Styling */
.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-danger {
  background-color: #f4828d;
  color: white;
}

.btn-danger:hover {
  background-color: #ca6973;
}
